/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */
/************************************************************************
                            HELPER CLASSES
************************************************************************/

.m-10{
    margin: 10px!important;
}
.m-30{
    margin: 30px!important;
}
.m-50{
    margin: 50px!important;
}
.m-70{
    margin: 70px!important;
}
.m-90{
    margin: 90px!important;
}
.m-100{
    margin: 100px!important;
}
.m-120{
    margin: 120px!important;
}

.m-t-10{
    margin-top: 10px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-90{
    margin-top: 90px!important;
}
.m-t-100{
    margin-top: 100px!important;
}
.m-t-120{
    margin-top: 120px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}!important
.m-b-70{
    margin-bottom: 70px!important;
}
.m-b-90{
    margin-bottom: 90px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-120{
    margin-bottom: 120px!important;
}

.m-t-55{
    margin-top: 55px!important;
}
.m-auto {
    margin: 0 auto!important;
}


.p-b-0{
    padding-bottom: 0px!important;
}

.p-b-100{
    padding-bottom: 100px!important;
}

/******************************************************
                    GENERAL
******************************************************/
html,body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway',sans-serif;
}
p{
    font-family: 'Montserrat';
    line-height: 24px;
    font-weight: 400;
    font-size: 13px;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
section{
    background: #fff;
}
/******************************************************
                GENERAL BUTTON
******************************************************/
.btn-general{
    font-family: 'Raleway',sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}
.btn-green{
    background-color: #5c9320;
    color: #fff;
}
.btn-green:hover,
.btn-green:focus{
    background-color: #212226;
    color: #fff;
    
}
.btn-white{
    background-color: #fff;
    color: #212226;
}
.btn-white:hover,
.btn-white:focus{
    background-color: #212226;
    color: #fff;
    
}
.btn-gradient{
    color: #fff;
    background-size: 200% auto;
    background-image: linear-gradient(to right , #5c9320 0% , #63c600 51%, #5c9320 100%);
}
.btn-gradient:hover,
.btn-gradient:focus{
    color: #fff;
    background-position: right;
}
/******************************************************
                GENERAL HEADING
******************************************************/
.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}
.vertical-heading h5{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}
.vertical-heading h2,
.horizontal-heading h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 45px;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
}
.highlight-heading{
    color: #5c9320;
    font-weight: 700;
}
.horizontal-heading{
    text-align: center;
}
.horizontal-heading h2{
    margin: 0;
}
.horizontal-heading h5{
    margin-bottom: 5px;
}
/************************************************************************
                            TWEAKING BOOTSTRAP
************************************************************************/
.row.no-gutters [class*='col-']{
    padding: 0;
}

/******************************************************
                LINE ICON SETTING
******************************************************/
[class*='lni-'] {
    display: inline-block;
}

/******************************************************
                CONTENT BOX
******************************************************/
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/******************************************************
                    LOADER
******************************************************/

.loader{
    width:100%;
    height:100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #5c9320;
    background: linear-gradient(to right,#5c9320 2%,#63c600 82%);
    z-index: 9999;
    display: none;
}
.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    width: 120px;
    height: 120px;
    
    transform:translate(-50%,-50%);
}
.loader span{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: load 5s ease-in-out infinite;
    opacity: 1;
}
.loader-blocks{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%,-50%);
}
.loader span.block-1{
    animation-delay: 1.06s;
    left: 0;
    top: 0;
}
.loader span.block-2{
    animation-delay: .97s;
    left: 16px;
    top: 0;
}
.loader span.block-3{
    animation-delay: .88s;
    left: 32px;
    top: 0;
}
.loader span.block-4{
    animation-delay: .79s;
    left: 48px;
    top: 0;
}
.loader span.block-5{
    animation-delay: .7s;
    left: 0;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left: 32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left: 48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left: 16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left: 32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left: 48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -.11s;
    left: 16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.22s;
    left: 32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -.31s;
    left: 48px;
    top: 48px;
}
@keyframes load{
    0%{
        opacity: 0;
        transform: translateX(-95px);
    }
    15%{
        opacity: 0;
        transform: translateX(-95px);
    }
    30%{
        opacity: 1;
        transform:translateX(0);
    }
    70%{
        opacity: 1;
        transform: translateX(0);
    }
    85%{
        opacity: 0;
        transform: translateX(95px);
    }
    100%{
        opacity: 0;
        transform: translateX(0);
    }
}
/******************************************************
                    HOME SECTION
******************************************************/

#home{
    background: none;
    height: 100%;
    width: 100%;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /*alternative fallback*/
    background: url("../video/video.jpg") no-repeat cover;
}
#home-overlay{
    background-color: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
video{
    width:100%;
}
#home-content{
    width: 100%;
    height: 100%;
    display: table;
    
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading{
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
#home-heading span{
    color: #5c9320;
    font-weight: 500;
}
#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 25px;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    transform: translateX(-50%);
    z-index: 1;
}
#arrow-down:hover,
#arrow-down:focus{
    color: #5c9320;
}

/******************************************************
                ABOUT SECTION
******************************************************/
#about img {
    margin: 0 auto;
}

#about-02{
    background: #f4f4f4;
}

.about-item{
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.about-item i{
    font-size: 42px;
}

.about-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.about-item hr{
    width:45px;
    background-color: #5c9320;
    height: 3px;
    margin: 0 auto 20px auto;
}

/*hover state*/

.about-item:hover{
    background-color: #5c9320;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.about-item:hover i,
.about-item:hover p,
.about-item:hover h3 {
    color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/*smooth transition*/
.about-item p,
.about-item h3 {
    transition: all .4s linear;
}

.about-item,
.about-item hr,
.about-item i {
    transition: all .4s ease-in-out;
}

/******************************************************
                    TEAM
******************************************************/

.team-member {
    position: relative;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

.team-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 34, 38, .9);
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h5 {
    color: #5c9320;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.team-member-info p{
    color: #FFF;
    font-weight: 200;
}

/******************************************************
                    SOCIAL ICONS
******************************************************/

ul.social-icons{
    padding: 0;
}

ul.social-icons li{
    display: inline-block;
}

ul.social-icons li a{
    border: 1px solid #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    color: #FFF;
    transition: all .3s linear;
}

ul.social-icons li.fb-icon a:hover{
    background: #3B5998;
    border-color: transparent;
}

ul.social-icons li.twitter-icon a:hover{
    background: #00ACED;
    border-color: transparent;
}

ul.social-icons li.google-plus-icon a:hover{
    background: #DD4B39;
    border-color: transparent;
}

/******************************************************
                   OWL SLIDER BUTTONS
******************************************************/

.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}
#testimonial-slider.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #FFF;
}
/******************************************************
                    SKILLS
******************************************************/

.skill h4{
    font-weight: normal;
}


.progress{
    height: 12px;
    border-radius: 50px;
    background-color: #EFEFEF;
    overflow: visible;
}

.progress-bar{
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
    border-radius: 50px;
    position: relative;
}

.progress-bar span{
    position: absolute;
    top: -40px;
    left: 95%;
    background: #212226;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;

}

.progress-bar span:before{
    content: "";
    border-top: 8px solid #212226;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 34%;
    top: 30px;
}

/************************************************************************
                            STATEMENT SECTION
************************************************************************/

#statement{
    background: url('../img/tech/tech-statement.jpg') no-repeat fixed center;
    background-size: cover;
}
#statement .content-box-lg{
    background-color: rgba(0,0,0,.4);
}
#tech-statement h3{
    color: #fff;
    font-size: 28px;
    line-height: 45px;
    
}
#tech-statement p{
    color: #5c9320;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/************************************************************************
                            SERVICES SECTION
************************************************************************/

#services-01 img{
    margin: 50px 0;
}
.service .icon{
    font-size: 42px;
    transition: all .4s linear;    
}
.service:hover .icon{
    color: #5c9320;
    transform: translateX(-20px);
}
.service h5{
    color: #5c9320;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    transition: all .3s linear;
}
.service:hover h5{
    color: #212226;
}
.service h3{
    margin: 0 0 8px 0;
}
.service p{
    margin: 0;
    line-height: normal;
}

#services-02{
    background-color: #f4f4f4;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    font-weight: 700;
    border-bottom: 3px solid #5c9320;
    transition: border-color .3s linear;
}
#services-tabs ul li a{
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-bottom: 3px solid transparent;
}
.service-tab .service-tab-bg{
    background-color: #fff;
    padding: 50px 30px;
/*    position: relative;*/
    min-height: 482.5px;
}
.service-tab h2{
    font-size: 48px;
    color: #ccc;
    font-weight: 100;
    margin: 0 0 20px 0;
/*
    position: absolute;
    top: 0;
    left: 0;
*/
}
.service-tab h3{
    font-size: 32px;
}
.service-tab .col-md-6{
    padding: 0;
}
.service-tab .col-md-6 img{
    width: 100%;
}

/************************************************************************
                            POTFOLIO SECTION
************************************************************************/

.portfolio-item{
    position: relative;
    overflow: hidden;
}
.portfolio-item img{
     transition: all .3s ease;
}
.portfolio-item-overlay{
    position: absolute;
    background: rgba(92,147,32,.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
}
.portfolio-overlay-details{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-overlay-details h3{
    margin: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}
.portfolio-overlay-details span{
    display: inline-block;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}
.portfolio-overlay-details p{
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    transition: all .4s ease; 
}

/*Hover*/
.portfolio-item:hover img{
    transform: scale(1.2); 
}
.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}
.portfolio-item:hover .portfolio-overlay-details p,
.portfolio-item:hover .portfolio-overlay-details h3{
    transform: translateY(0);
}


/*isotope filter*/
#isotope-filters button{
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding-right: 35px;
}

#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .3s ease; 
}
#isotope-filters button.active span{
    color: #5c9320;
    border-bottom: solid 3px #5c9320;
}

/******************************************************
                    TESTIMONIAL
******************************************************/
#testimonials{
    background-color: #F4F4F4;
}
#testimonial-slider{
    background-color: #5C9320;
    padding: 0 20px;
    transform: translateY(-95px);
}

.testimonial{
    padding: 20px 45px 0 45px;
    color: #FFF;
}

.testimonial h3{
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars{
    font-size: 20px;
    margin: 20px 0 10px;
}

.testimonial .col-md-12 p{
    line-height: normal;
    font-weight: 300;
    padding-bottom: 30px;

}

.testimonial .author-name-des{
    margin-top: 10px;
}

.testimonial .author-name-des p{
    font-weight: 500;
    margin-bottom: 5px;
}

/******************************************************
                    PRICING TABLE
******************************************************/
.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .3s linear;
}

.pricing-table:hover{
    background: #5c9320;
    color: #FFF;
}

.pricing-table .type{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}
.pricing-table .price{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}

.pricing-table .type h4{
    color: #5C9320;
    font-size: 24px;
    transition: all .3s linear;
}


.pricing-table .price{
    padding-top: 20px;
}

.pricing-table .price h2{
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}

.pricing-table .price span{
    font-family: "Raleway" , sans-serif;
}

span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}


span.per-month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
}

.pricing-table .price p{
    line-height: normal;
    font-weight: 300;
}

ul.package{
    list-style: none;
    padding: 20px 0;
}

ul.package li{
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
}

ul.package li i{
    padding-right: 20px;
}

.pricing-table:hover h4{
    color: #FFF;
}

.pricing-table .btn{
    margin: 0;
}
.pricing-table:hover .btn-green{
    background-color: #FFF;
    color: #212226;
}


.pricing-table .btn-green:hover{
    background-color: #212226;
    color: #FFF;
}

.pricing-table .pricing-table-black{
    background: #212226;
    color: #FFF;
}

.pricing-table .pricing-table-black .type h4{
    color: #FFF;
}

.pricing-table.pricing-table-black{
    background: #212226;
    color: #FFF;
    position: relative;
    top: -20px;
}

.pricing-table .pricing-table-black:hover{
    background: #5c9320;
}

.pricing-table.pricing-table-black:hover{
    background: #5C9320;
    transform: scale(1.1);
}

/******************************************************
                    STATS SECTION
******************************************************/

#stats{
    background: url('../img/stats/stats-bg.jpg') no-repeat fixed center;
    background-size: cover;
}

#stats .vertical-heading {
    color: #FFF;
}

.stats-item{
    background: rgba(61,68,68,.6);
    padding: 25px 50px;
    transition: all .3s linear;
    border-radius: 5px;
}

.stats-item i{
    font-size: 42px;
    color: #5C9320;
    margin: 0 0 5px 0;
    transition: all .4s linear;
}

.stats-item h3{
    color: #FFF;
    font-size: 32px;
    margin: 5px 0;
}

.stats-item p {
    color: #FFF;
    margin: 0;
}

.stats-item:hover{
    background-color: #5C9320;
    
}

.stats-item:hover i{
    color: #212226;
    transform: translateY(-30%);
}


#map{
    height: 500px;
}



















